<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" routerLink="" class="nav-link" routerLinkActive="active" aria-label="Example home icon">home</mat-icon>
  <button mat-button [matMenuTriggerFor]="menu">Student</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="students" class="nav-link" routerLinkActive="active">Student List</button>
    <button mat-menu-item routerLink="add" class="nav-link" routerLinkActive="active">Create</button>
  </mat-menu>
  <button mat-raised-button ="primary" routerLink="staff" class="nav-link" routerLinkActive="active" >Staff</button>
  
</mat-toolbar>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">

  </div>
</footer>